body {
    margin: 0;
    overflow-x: hidden;
    background-color: rgb(173, 173, 173, 0);
    font-family:'Open Sans';
    font-size: 20px;
   
}
.shapka img {
    vertical-align: bottom;
    width: 100%;
    margin: 0 auto;
    object-position: 100% 100%;
}
.shapka{
    display: inline-block;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 100%;
    position: relative;   
    box-shadow: 0px 3px 5px rgb(94, 94, 94);
}
.txt_sap{ 
    text-align: center;
    font-size: 70px;
    position: absolute;
   bottom: 20%;
    width: 100%;
    text-shadow:
                1px 1px rgb(240, 241, 141),
                -1px -1px rgb(240, 241, 141),
                -1px 1px rgb(240, 241, 141),
                1px -1px rgb(240, 241, 141);
}
.center {
    
    margin: 0 auto;
    margin-top: 20px;
    float: center;
    width: 90%;
    background-color: rgb(255, 255, 255);
}
.footer{
    margin-top: 20px; 
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 50px;
}
.bloks div{
    width:30%;
    display: inline-block;
    margin: 1%;
}
.poster{
    display: inline-block;
    position: relative;
    transition: .2s ease-out;
    box-shadow: 2px 2px 10px rgb(0, 0, 0); 
    padding: 0%;
}
.poster:hover{  
    transform: scale(1.2);
    z-index: 1;
}
.poster img {
    float: center;
    width: 100%;
    position: relative;
    vertical-align: bottom;  
}
.nadpis{
    color: black;
    font-size: 50px;
    left:20%;
    top: 20%;
    position: absolute;
    text-shadow: 1px 1px rgb(255, 255, 255),
                -1px -1px rgb(255, 255, 255),
                -1px 1px rgb(255, 255, 255),
                 1px -1px rgb(255, 255, 255);
}
a {
    text-decoration: none;
}
a :visited{
    color: black;
}
.text_photo {
    width: 30%;
    float: left;
    margin: 5px;
    border: 1px solid;
}
.text_photo_sas{
    width: 100%;
}
.kolaz{
    display: center;
    width: 50%;
    height: 50%;
}
.kolaz img{
    
    text-align: center;
    max-width: 47%;
    margin: 5px;
    box-shadow: 2px 2px 10px rgb(0, 0, 0);
}
.lightbox {
	/** Default lightbox to hidden */
	display: none;

	/** Position and style */
	position: fixed;
	
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
}
.lightbox img {
	/** Pad the lightbox image */
	max-width: 80%;
	max-height: 90%;
	margin-top: 2%;
}

.lightbox:target {
	/** Remove default browser outline */
	outline: none;

	/** Unhide lightbox **/
	display: block;
}


  


